node_modules/
.pnp
.pnp.js

build/
dist/

.env
.env.local
.env.development
.env.production
.env.test

.aws/
aws-config.json

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
